{% extends "users/base.html "%}

{% block head_contend %}
    <title>PhotoGram</title>
{% endblock %}

{% block container %}

{% if form.errors %}
<p class="alert alert-danger">
    Los datos no son correctos
</p>
{% endif %}

<form method="POST" action="{% url "users:login" %}">
{% csrf_token %}

<div class="form-group">
    <input class="form-control" type="text" placeholder="Username" name="username" />
</div>

<div class="form-group">
    <input class="form-control" type="password" placeholder="Password" name="password" />
</div>


<button class="btn btn-dark btn-block mt-5" type="submit">Sign in!</button>

</form>

<p class="mt-4">Aun no te registras ? <a href="{% url "users:signup" %}">Registrate Aqui.</a></p>

{% endblock %}
 